/* MAIN PAGE ONLY */

/* general */

:root {
    --bodybg: #303030;
    --containerbg: #141414;
    --darkercontainer: #0c0c0c;
    --text: #ddd;
    --accent: #8ec732;
    --quicktransition: .3s ease-in-out;
    --padding: 15px 15px 19px 15px;
    --buttonpadding: 10px;
    --radius: 5px; 
    --containerborder: 3px solid;
}

body {
    background: var(--bodybg) url('../media/8px_grain.png') repeat;
    color: var(--text);
}

a {
    text-decoration: none;
    color: var(--accent);
    transition: var(--quicktransition);
    border-bottom: 1px solid transparent;
}

a:hover {
    color: var(--text);
    border-bottom: 1px solid var(--accent);
}

.accent {
    color: var(--accent);
}

.container {
    background: var(--containerbg);
    border-radius: var(--radius);
    padding: var(--padding);
}

/* containers */

.app {
    height: 100vh;
    display: grid;
    grid-template-columns: 20% auto auto auto auto;
    grid-template-rows: max-content auto;
    grid-template-areas: 'header header header header header';
    gap: 20px;
    padding: 20px;
}

.header {
    grid-area: header;
    font-size: 1.9em;
    font-weight: 600;
    letter-spacing: 0.5em;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    border-right: var(--containerborder) var(--accent);
    border-left: var(--containerborder) var(--accent);
    padding: var(--padding);
    color: var(--accent);
    background: var(--darkercontainer);
}

.left {
    grid-column: 1 / 2;
}

.center {
    grid-column: 2 / 6;
}

/* specifics, misc */

.category {
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    padding: var(--buttonpadding);
    border-radius: var(--radius);
    background: var(--darkercontainer);
    color: var(--accent);
}

.category:first-of-type {
    margin: 0 0 10px 0;
}

.navigation {
    margin-bottom: 20px;
}

.navigation ul {
    padding: 0;
    margin: 0;
}

.navigation ul a {
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: var(--buttonpadding);
    border-radius: var(--radius);
    border-bottom: none;
    border-left: var(--containerborder) transparent;
    border-right: var(--containerborder) transparent;
    background: var(--containerbg);
}

.navigation ul a:hover {
    border-left: var(--containerborder) var(--accent);
    border-right: var(--containerborder) var(--accent);
}

.card {
    display: flex;
}

.card img {
    max-width: 280px;
}

.card ul {
    list-style-type: none;
    padding: 10px;
    margin: 0 10px;
}

.card .name {
    font-size: 1.5em;
}

.card .name2 {
    font-size: 1.2em;
}

/* accessibility & responsiveness */

@media (prefers-reduced-motion: no-preference) {
    /* animations here */
}